<!-- Breadcrumb section start here -->
<section class="ic-breadcrumb style-three">
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <h3 class="ic-breadcrumb-title">{{ page_title }}</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>{{ page_title }}</li>
            </ul>
        </div>
    </div>
</div>
</section>
<!-- Breadcrumb section end here -->