{% render 'breadcrumb' %}

<!-- Blog single start here-->
<section class="ic-blog-single ic-padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <form class="ic-blog-search ic-blog-mobile-search">
                    <input type="text" name="search" placeholder="Search Here">
                    <i class="icofont-search-1"></i>
                </form>
                <div class="ic-blog-item">
                    <div class="ic-blog-thumb">
                        <img src="assets/images/blog/1col/01.jpg" alt="blog-thumbnail">
                        <div class="ic-posted-on">10 Feb, 2020</div>
                    </div>
                    <div class="ic-blog-content">
                        <div class="ic-post-meta">
                            <span class="ic-post-cat"><a href="">Travel</a></span>
                            <span>/</span>
                            <span class="ic-post-date"><a href="">10 Feb, 2020</a></span>
                            <span>/</span>
                            <span class="ic-post-author">post by admin</span>
                        </div>
                        <h3 class="ic-blog-title">Motorbikers stands with open arms to the side to meet a new day in new shanshine</h3>
                        <p>Progressively brand sticky whit without frctionless voritals vsualize coseffective networks is viralProgressively redefine efficient platforms cuttingedge business developed andexteinsive aservices Collaboratively conceptualize futureproof partnerships through holistic aproiided progreively brand sticky ROwithout frictionless vortals. Assertively visualize and effectivene Progressively redefine effcient platforms for awesome cuttingedge awesome business theme.</p>
                        <blockquote><p>Completely actuaze cent centric coloration and idea saharng without and creati installed an awesome theme of event aresourcescreatve awesome template and completely template a and awesome event template and awesome event template.</p></blockquote>
                        <p>Progressively brand sticky whit without frctionless voritals vsualize coseffective networks is viralProgressively redefine efficient platforms cuttingedge business developed andexteinsive aservices Collaboratively conceptualize futureproof partnerships through holistic aproiided progreively brand sticky ROwithout frictionless vortals. Assertively visualize and effectivene Progressively redefine effcient platforms for awesome cuttingedge awesome business theme.</p>
                        <p>Progressively brand sticky whit without frctionless voritals vsualize coseffective networks is viralProgressively redefine efficient platforms cuttingedge business developed andexteinsive aservices Collaboratively conceptualize futureproof partnerships through holistic aproiided progreively brand sticky ROwithout frictionless vortals. Assertively visualize and effectivene Progressively redefine effcient platforms for awesome cuttingedge awesome business theme.</p>
                    </div>
                    <div class="ic-blog-share">
                        <ul class="ic-share-post">
                            <li class="ic-share-text">Share this post</li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-vk"></i></a></li>
                        </ul>
                    </div>
                    <div class="ic-btn-group ic-margin-bottom">
                        <a href="" class="ic-post-tag">Motorcycle</a>
                        <a href="" class="ic-post-tag">Traveling</a>
                        <a href="" class="ic-post-tag">Racing</a>
                    </div>

                    <!-- Blog author -->
                    <div class="ic-author ic-margin-bottom">
                        <div class="ic-author-avatar">
                            <img src="assets/images/blog/author.png" alt="author-avatar">
                        </div>
                        <div class="ic-author-content">
                            <div class="ic-author-content-top">
                                <div class="ic-author-content-top-left">
                                    <h3 class="ic-author-name"><a href="">Ronald Harvey</a></h3>
                                    <h4 class="ic-author-designation">Traveler & Rider</h4>
                                </div>
                                <div class="ic-author-content-top-right">
                                    <ul class="ic-social-profile">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="ic-btn-group justify-content-between ic-margin-bottom">
                        <a href="" class="ic-custom-btn theme-color">Previous Post</a>
                        <a href="" class="ic-custom-btn theme-color">Next Post</a>
                    </div>

                    <!-- Blog comment -->
                    <div class="ic-comment ic-margin-bottom">
                        <h4 class="ic-comment-title">Comments (45)</h4>
                        <ul class="ic-comment-list">

                            <!-- Blog comment item -->
                            <li class="ic-comment-item ic-has-child">
                                <div class="ic-comment-body">
                                    <div class="ic-comment-avatar">
                                        <img src="assets/images/product-single/review-01.png" alt="comment-avatar">
                                    </div>
                                    <div class="ic-comment-content">
                                        <div class="ic-comment-meta">
                                            <div class="ic-comment-author">Jessica Morrison</div>
                                            <div class="ic-comment-date"><i class="icofont-ui-calendar"></i><span>27 May, 2020</span></div>
                                            <div class="ic-comment-time"><i class="icofont-clock-time"></i><span>10:30 AM</span></div>
                                        </div>
                                        <p class="ic-comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <a class="ic-comment-reply" href="">reply</a>
                                    </div>
                                </div>
                                <ul>

                                    <!-- Blog comment item -->
                                    <li class="ic-comment-item">
                                        <div class="ic-comment-body">
                                            <div class="ic-comment-avatar">
                                                <img src="assets/images/product-single/review-02.png" alt="comment-avatar">
                                            </div>
                                            <div class="ic-comment-content">
                                                <div class="ic-comment-meta">
                                                    <div class="ic-comment-author">Jessica Morrison</div>
                                                    <div class="ic-comment-date"><i class="icofont-ui-calendar"></i><span>27 May, 2020</span></div>
                                                    <div class="ic-comment-time"><i class="icofont-clock-time"></i><span>10:30 AM</span></div>
                                                </div>
                                                <p class="ic-comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                                <a class="ic-comment-reply" href="">reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- Blog comment item -->
                            <li class="ic-comment-item">
                                <div class="ic-comment-body">
                                    <div class="ic-comment-avatar">
                                        <img src="assets/images/product-single/review-03.png" alt="comment-avatar">
                                    </div>
                                    <div class="ic-comment-content">
                                        <div class="ic-comment-meta">
                                            <div class="ic-comment-author">Jessica Morrison</div>
                                            <div class="ic-comment-date"><i class="icofont-ui-calendar"></i><span>27 May, 2020</span></div>
                                            <div class="ic-comment-time"><i class="icofont-clock-time"></i><span>10:30 AM</span></div>
                                        </div>
                                        <p class="ic-comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <a class="ic-comment-reply" href="">reply</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="" class="ic-loadmore-comments">View More Comments</a>
                    </div>

                    <!-- Blog comment form -->
                    <div class="ic-comment-form">
                        <h4 class="ic-comment-form-title">Leave a Comment</h4>
                        <div class="ic-comment-form-inner row">
                            <div class="col-12">
                                <textarea name="message" class="ic-form-controll" placeholder="Write Someting Here" rows="5"></textarea>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" name="name" class="ic-form-controll" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="email" name="email" class="ic-form-controll" placeholder="Your Email">
                            </div>
                            <div class="col-12">
                                <button class="ic-custom-btn-rvs ic-btn-lg" type="submit">Comment Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog sidebar -->
            <div class="col-lg-4 col-md-12">
                <aside class="ic-sidebar">

                    <!-- Blog widget -->
                    <div class="ic-widget ic-search-widget d-none d-lg-block">
                        <div class="ic-widget-content">
                            <form class="ic-blog-search">
                                <input type="text" name="search" placeholder="Search Here">
                                <i class="icofont-search-1"></i>
                            </form>
                        </div>
                    </div>

                    <!-- Blog widget -->
                    <div class="ic-widget ic-category-widget">
                        <h2 class="ic-widget-title">Category</h2>
                        <div class="ic-widget-content">
                            <ul>
                                <li><a href="">Motrocycles</a></li>
                                <li><a href="">Sports Bike</a></li>
                                <li><a href="">Riding</a></li>
                                <li><a href="">Racing</a></li>
                                <li><a href="">Traveling</a></li>
                                <li><a href="">Women’s riding</a></li>
                                <li><a href="">Best Scooter</a></li>
                                <li><a href="">Naked Bike</a></li>
                                <li><a href="">Modern Bike</a></li>
                                <li><a href="">Stylish Bike</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Blog widget -->
                    <div class="ic-widget ic-popular-post-widget">
                        <h2 class="ic-widget-title">Popular Post</h2>
                        <div class="ic-widget-content">
                            <div class="ic-blog-item">
                                <div class="ic-blog-thumb">
                                    <a href="single.html">
                                        <img src="assets/images/blog/01.jpg" alt="blog-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-blog-content">
                                    <div class="ic-post-meta">
                                        <span class="ic-post-cat"><a href="">10 Feb, 2020</a></span>
                                        <span>/</span>
                                        <span class="ic-post-author">post by admin</span>
                                    </div>
                                    <h3 class="ic-blog-title"><a href="single.html">Riding sportster motorcycle on countryside during sunset</a></h3>
                                </div>
                            </div>
                            <div class="ic-blog-item">
                                <div class="ic-blog-thumb">
                                    <a href="single.html">
                                        <img src="assets/images/blog/02.jpg" alt="blog-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-blog-content">
                                    <div class="ic-post-meta">
                                        <span class="ic-post-cat"><a href="">10 Feb, 2020</a></span>
                                        <span>/</span>
                                        <span class="ic-post-author">post by admin</span>
                                    </div>
                                    <h3 class="ic-blog-title"><a href="single.html">Riding sportster motorcycle on countryside during sunset</a></h3>
                                </div>
                            </div>
                            <div class="ic-blog-item">
                                <div class="ic-blog-thumb">
                                    <a href="single.html">
                                        <img src="assets/images/blog/03.jpg" alt="blog-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-blog-content">
                                    <div class="ic-post-meta">
                                        <span class="ic-post-cat"><a href="">10 Feb, 2020</a></span>
                                        <span>/</span>
                                        <span class="ic-post-author">post by admin</span>
                                    </div>
                                    <h3 class="ic-blog-title"><a href="single.html">Riding sportster motorcycle on countryside during sunset</a></h3>
                                </div>
                            </div>
                            <div class="ic-blog-item">
                                <div class="ic-blog-thumb">
                                    <a href="single.html">
                                        <img src="assets/images/blog/04.jpg" alt="blog-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-blog-content">
                                    <div class="ic-post-meta">
                                        <span class="ic-post-cat"><a href="">10 Feb, 2020</a></span>
                                        <span>/</span>
                                        <span class="ic-post-author">post by admin</span>
                                    </div>
                                    <h3 class="ic-blog-title"><a href="single.html">Riding sportster motorcycle on countryside during sunset</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Blog widget -->
                    <div class="ic-widget ic-tag-widget">
                        <h2 class="ic-widget-title">Tags</h2>
                        <div class="ic-widget-content">
                            <a href="" class="ic-tag-cloud">Motorcycle</a>
                            <a href="" class="ic-tag-cloud">Traveling</a>
                            <a href="" class="ic-tag-cloud">Racing</a>
                            <a href="" class="ic-tag-cloud">Sports Bike</a>
                            <a href="" class="ic-tag-cloud">Cruiser</a>
                            <a href="" class="ic-tag-cloud">Riding</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- Blog single end here-->