<!-- 404 section start here-->
<section class="ic-error-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="ic-error-content">
                    <img src="assets/images/404.png" alt="404-thumb">
                    <h3>Sorry!</h3>
                    <p>The Page You Are Looking For <br>Was Not Found</p>
                    <a href="" onclick="window.history.go(-1); return false;" class="ic-custom-btn theme-color">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 404 section end here-->