{% render 'breadcrumb' %}

<!--Blog section start here-->
<section class="ic-blog-section style-two ic-padding-120">
    <div class="container">
        <div class="ic-section-header">
            <h1 class="ic-header-title">konw something <span>from the blog</span></h1>
            <span class="ic-header-divider"></span>
            <h6 class="ic-header-subtitle">latest news<span>&</span> about update bikes</h6>
        </div>
        <div class="ic-space-60"></div>
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-7 col-sm-12">
                <ul class="nav nav-tabs ic-blog-cat-tab d-none d-lg-flex" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link ic-custom-btn active" data-bs-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="true">Travel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ic-custom-btn" data-bs-toggle="tab" href="#riding" role="tab" aria-controls="riding" aria-selected="false">Riding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ic-custom-btn" data-bs-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ic-custom-btn" data-bs-toggle="tab" href="#cross" role="tab" aria-controls="cross" aria-selected="false">cross-country</a>
                    </li>
                </ul>

                <div class="ic-mobile-select-dropdown-wrap">
                    <ul class="nav nav-tabs ic-blog-cat-tab ic-mobile-select-dropdown" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link ic-custom-btn active" data-bs-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="true">Travel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ic-custom-btn" data-bs-toggle="tab" href="#riding" role="tab" aria-controls="riding" aria-selected="false">Riding</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ic-custom-btn" data-bs-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ic-custom-btn" data-bs-toggle="tab" href="#cross" role="tab" aria-controls="cross" aria-selected="false">cross-country</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="ic-blog-sortby">
                    <div class="ic-select-dropdown">
                        <div class="ic-select-inner">
                            <span>Sort By</span>
                            <i class="icofont-simple-down"></i>
                        </div>
                        <ul class="ic-select-dropdown-menu">
                            <li>Name</li>
                            <li>Date</li>
                            <li>Title</li>
                            <li>None</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ic-space-30"></div>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="travel" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/01.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/02.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/03.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/04.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/05.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/06.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/07.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/08.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/09.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="riding" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/07.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/08.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/09.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/04.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/05.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/06.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/01.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/02.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/03.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="event" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/04.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/05.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/06.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/07.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/08.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/09.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="cross" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/01.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/02.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/03.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/04.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/05.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/06.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/07.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">10 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Travel</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorbikers stands with open arms to the side, to meet a new day</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/08.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">15 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">Riding</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">riding sportster motorcycle on countryside during sunset</a></h3>
                            </div>
                        </div>

                        <!-- Blog item -->
                        <div class="ic-blog-item">
                            <div class="ic-blog-thumb">
                                <a href="single.html">
                                    <img src="assets/images/blog/2col/09.jpg" alt="blog-thumbnail">
                                    <div class="ic-posted-on">20 Feb, 2020</div>
                                </a>
                            </div>
                            <div class="ic-blog-content">
                                <div class="ic-post-meta">
                                    <span class="ic-post-cat"><a href="">cross-country</a></span>
                                    <span>/</span>
                                    <span class="ic-post-author">post by admin</span>
                                </div>
                                <h3 class="ic-blog-title"><a href="single.html">Motorcyclist on a cross-country motorcycle go fast at the desert</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ic-space-40"></div>

        <!-- Pagination -->
        <div class="text-center">
            <ul class="ic-pagination">
                <li><a href=""><i class="icofont-rounded-double-left"></i></a></li>
                <li><a href="" class="active">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li>...</li>
                <li><a href="">10</a></li>
                <li><a href=""><i class="icofont-rounded-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!--Blog section end here-->