<!-- Google Map Section Start Here -->
<div class="ic-gmaps-section">
    <div class="ic-map-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.60887841715!2d90.41266621536414!3d23.868018590189028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c5d2f5f0d427%3A0x6004f6bcdd7583fd!2sITclan%20BD!5e0!3m2!1sen!2sbd!4v1598169132384!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!-- Google Map Section Ending Here -->

<!-- Contact section start here -->
<section class="ic-contact-section ic-padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">

                <!-- Contact information -->
                <div class="ic-contact-information wow fadeInRight" data-wow-delay="0.2s">
                    <h3 class="ic-contact-info-title">Contact Details</h3>

                    <!-- Contact item -->
                    <div class="ic-contact-item">
                        <h6 class="ic-contact-title">Address:</h6>
                        <p class="ic-contact-info">23 Uri Palestro, 2nd arr, 75002 Alska, USA</p>
                    </div>

                    <!-- Contact item -->
                    <div class="ic-contact-item">
                        <h6 class="ic-contact-title">Email:</h6>
                        <p class="ic-contact-info"><a href="mailto:info@example.com">info@example.com</a></p>
                    </div>

                    <!-- Contact item -->
                    <div class="ic-contact-item">
                        <h6 class="ic-contact-title">Phone:</h6>
                        <p class="ic-contact-info"><a href="tel:(+91)7-723-4608">(+91)7-723-4608</a></p>
                    </div>

                    <!-- Contact item -->
                    <div class="ic-contact-item ic-emergency">
                        <h6 class="ic-contact-title">For Any Emergency</h6>
                        <p class="ic-contact-info"><a href="tel:+65998659855">Call: +659 9865 9855</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">

                <!-- Contact Form -->
                <div class="ic-contact-form-main wow fadeInLeft" data-wow-delay="0.2s">
                    <h3 class="ic-contact-form-title">Message Us</h3>
                    <form class="ic-contact-form" action="mail.php" method="POST">
                        <div class="ic-form-row">
                            <div class="col-lg-6">
                                <input type="text" name="first-name" placeholder="First Name" class="ic-form-control" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="last-name" placeholder="Last Name" class="ic-form-control" required>
                            </div>
                        </div>
                        <div class="ic-form-row">
                            <div class="col-lg-6">
                                <input type="email" name="email" placeholder="Email Address" class="ic-form-control" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="number" placeholder="Phone" class="ic-form-control" required>
                            </div>
                        </div>
                        <input type="text" name="subject" placeholder="Subject" class="ic-form-control" required>
                        <textarea placeholder="Write Something Here" name="message" class="ic-form-control" required rows="3"></textarea>
                        <button type="submit" class="ic-custom-btn-rvs">Send Now</button>
                    </form>
                    <p class="form-message"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section start here -->
