   {% render 'breadcrumb' %}
   
   <!-- Cart Section start here -->
   <section class="ic-cart-section ic-padding-120">
    <div class="container">
        <div class="table-responsive">
            <table class="cart-table table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="cart-thumb media align-items-center">
                            <a href="shop-single.html">
                                <img class="img-fluid" src="assets/images/product/cart.jpg" alt="">
                            </a>
                            <div class="media-body ml-3">
                                <div class="product-title">
                                    <a class="link-title" href="shop-single.html">Yamaha YZF R1</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td> <span class="product-price text-muted">$3,588.00</span></td>
                    <td>
                        <div class="ic-quantity">
                            <div class="ic-quantity-button ic-quantity-down"><i class="icofont-minus"></i></div>
                            <input type="number" min="1" step="1" value="1">
                            <div class="ic-quantity-button ic-quantity-up"><i class="icofont-plus"></i></div>
                        </div>
                    </td>
                    <td>
                        <span class="product-price text-muted font-w-6">$3,588.00</span>
                        <a href="#" class="close-link"><i class="icofont-close-line"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-thumb media align-items-center">
                            <a href="shop-single.html">
                                <img class="img-fluid" src="assets/images/product/cart.jpg" alt="">
                            </a>
                            <div class="media-body ml-3">
                                <div class="product-title">
                                    <a class="link-title" href="shop-single.html">Yamaha YZF R1</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td> <span class="product-price text-muted">$3,900.00</span></td>
                    <td>
                        <div class="ic-quantity">
                            <div class="ic-quantity-button ic-quantity-down"><i class="icofont-minus"></i></div>
                            <input type="number" min="1" step="1" value="1">
                            <div class="ic-quantity-button ic-quantity-up"><i class="icofont-plus"></i></div>
                        </div>
                    </td>
                    <td>
                        <span class="product-price text-muted font-w-6">$3,900.00</span>
                        <a href="#" class="close-link"><i class="icofont-close-line"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-thumb media align-items-center">
                            <a href="shop-single.html">
                                <img class="img-fluid" src="assets/images/product/cart.jpg" alt="">
                            </a>
                            <div class="media-body ml-3">
                                <div class="product-title">
                                    <a class="link-title" href="shop-single.html">Yamaha YZF R1</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td> <span class="product-price text-muted">$2,800.00</span></td>
                    <td>
                        <div class="ic-quantity">
                            <div class="ic-quantity-button ic-quantity-down"><i class="icofont-minus"></i></div>
                            <input type="number" min="1" step="1" value="1">
                            <div class="ic-quantity-button ic-quantity-up"><i class="icofont-plus"></i></div>
                        </div>
                    </td>
                    <td>
                        <span class="product-price text-muted font-w-6">$2,800.00</span>
                        <a href="#" class="close-link"><i class="icofont-close-line"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="row ic-cart-footer">
            <div class="col-lg-6 col-md-7 col-sm-12">
                <form class="ic-cupon-form">
                    <input class="ic-form-control mb-0" type="text" name="cupon" placeholder="Have Any Coupon Code" required="">
                    <button class="ic-custom-btn-rvs secondary-hover disable-shadow" type="submit">Apply Coupon</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 text-right">
                <button class="ic-custom-btn-rvs secondary-hover">Update Cart</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="cart-totals rounded p-5">
                    <h2 class="text-black text-left mb-2">Cart Totals</h2>
                    <div class="d-flex justify-content-between align-items-center border-bottom py-3">
                        <span class="text-muted">Subtotal</span>
                        <span class="text-dark">$10,288.00</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-bottom py-3">
                        <span class="text-muted">Tax</span>
                        <span class="text-dark">$80.00</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-3 mb-5">
                        <span class="text-dark h5">Total</span>
                        <span class="text-dark font-w-6 h5">$10,368.00</span>
                    </div>
                    <a class="ic-custom-btn-rvs d-block mb-4 secondary-hover" href="checkout.html">Proceed To Checkout</a>
                    <a class="ic-custom-btn-rvs d-block dark-color" href="shop.html">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section end here -->